<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--los Iconos-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" th:href="@{css/styles.css}">
  <!--iconos Estrella-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"/>
    <link rel="stylesheet" th:href="@{css/Produc.css}">
    
    <title>PRE-PREGUNTAS </title>
</head>
<body>
    <!--=======HEAD========-->
  <nav>
      <div class="container">
          <h2 class="log">
              PRE-PREGUNTAS
          </h2>
          <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Busqueda para creadores">
          </div>
          <div class="create">
              <label class="btn btn-primary" for="create-post">
                    Create
              </label>
              <div class="profile-picture">
                  <img src="./imagen/01.PNG" alt="">
              </div>
          </div>

      </div>
  </nav>

   <!--=======MAIN========-->
   <main>
       <div class="container">
           <div class="left" th:replace="principal/menu::menu"></div>
            <div class="middle">
                <!--Filter-->
                <section class="filter">
                    <div class="grid">
                      <div class="div">
                        <label for="buscar"><span><i class="uil uil-search"></i></span></label>
                        <input type="text" id="buscar" placeholder="Buscar relojes...">
                      </div>
                      <div class="category">
                        <select id="category" onclick="categoryValue()">
                          <option value="">Marcas</option>
                          <option value="rolex">Rolex</option>
                          <option value="omega">Omega</option>
                          <option value="audemars">Audemars</option>
                          <option value="rolexDay">Rolex Day</option>
                          <option value="hublot">Hublot</option>
                          <option value="tag">Tag Heuer</option>
                        </select>
                      </div>
                    </div>
                  </section>
                <!--DESARROLLAMOS PRODUCTOS-->
                <section class="productos">
                    <div class="productos__center">
                      <div class="producto" th:each="producto:${productos}">
                        <div class="image__container">
                          <img th:src="@{/imgProducto/{img} (img=${producto.imagen})}" alt="">
                        </div>

                        <div class="producto__footer">
                          <h1 th:text="${producto.descripcion}">Rejoles Originales</h1>
                          <div class="rating">
                            <span>
                                <i class="uil uil-star"></i>
                            </span>
                            <span>
                                <i class="uil uil-star"></i>
                            </span>
                            <span>
                                <i class="uil uil-star"></i>
                            </span>
                            <span>
                                <i class="uil uil-star"></i>
                            </span>
                            <span>
                                <i class="uil uil-star"></i>
                            </span>
                          </div>
                          <div th:text="'$' + ${producto.precio}" class="price">$102.00</div>
                        </div>

                        <div class="bottom-producto">
                          <div class="btn__group">
                            <a href="#" class="btn addToCart">Añadir carrito</a>
                            <a href="producto-detalles.html" class="btn view">Vista</a>
                          </div>
                        </div>
                      </div>
                    </div>
                </section>

            </div>
            
       </div>
   </main>
  <script th:src="@{js/index.js}"></script>
<script>
    $(".act-reply").click(function(){
        $(this).parents(".userbox").find(".input-comment").toggleClass("show");
        $(this).toggleClass("active");
    });
</script>
</body>

</html>