<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
    <!--=======HEAD========-->
  <nav th:fragment="header">
      <div class="container">
          <h2 class="log">
              PRE-PREGUNTAS 
          </h2>
          <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Busqueda para creadores">
          </div>
          <div class="create">
              <label class="btn btn-primary" for="create-post">
                    Create
              </label>
              <div class='header__menu'>
                <div class="profile-picture">
                    <img src="./imagen/01.PNG" alt="">
                </div>
                <ul>
                  <li><a href="/">Mi Cuenta</a></li>
                  <li><a href="/">Cerrar Sesión</a></li>
                </ul>
              </div>
          </div>

      </div>
  </nav>

  
</body>

</html>
