
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--los Iconos-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Font Icon -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <title>PRE-PREGUNTAS </title>
</head>
<body>
    <!--=======HEAD========-->
  <nav th:replace="principal/header::header"></nav>

   <!--=======MAIN========-->
   <main>
       <div class="container">
             <!--=======DERECHA========-->
           <div class="left" th:replace="principal/menu::menu"></div>

             <!--=======MEDIO========-->
           <div class="middle" th:replace="principal/body::body"></div>
             <!--=======IZQUIERDA========-->
           <div class="right" th:replace="principal/right::right"></div>
        </div>
   </main>

 <!--=============REALIZAR PUBLICACIONES  O REALIZAR POST=======-->
<div class="customize-theme">
    <div class="card">
               
        <form action="" method="post" enctype="multipart/form-data">
            <h2>Comparte contenido</h2>
            <p>realice las preguntas necesarias</p>
            <!--Font sizes-->
            <div class="font-size">
                <h4>Font size</h4>
                <div class="container-flex">
                    <div class="publicar-bar">
                        <textarea type="publicar" placeholder="comenta tu publicacion"></textarea>
                    </div>
                </div>
                <div >
                    <label for="file-upload" class="bg1">
                        <i class="fa fa-cloud-upload"></i> Subir archivo
                    </label>
                    <input id="file-upload" type="file"/>
                    
                </div>
               <!--
                <label class="btn btn-primary" for="create-post">
                    Publicar
              </label>
              <label class="btn btn-primary" for="create-post">
                Cancelar
          </label>
        -->
            <div class="background">
                <div class="chose-bg">
                    <div class="bg1">
                        <h5>Publicar</h5>
                    </div>
                    
                </div>
            </div>
                                
            </div>
        </form>
    </div>
</div>
<!--COMENTARIOS -->
<div class="customize-coment">
    <div class="card">
               
        <form action="" method="post" enctype="multipart/form-data">
            <h2>Comentarios </h2>25
         
            
                
          <!--desde a qui-->
          <div class="containercomen">
            <div class="box-comments">
                <div class="item">
                    <div class="userbox">
                        <div class="avatar">
                            <img src="uploads/avatar1.png" alt="">
                        </div>
                        <div class="comment-info">
                            <div class="username">
                                <span class="name">adamsdavid</span>
                                <span class="datetime">20 hours ago</span>
                            </div>
                            <div class="mess">
                                <img class="messimg" src="/imagen/ejecicio3.jpg" alt="">
                                I genuinely think that Codewell’s community is AMAZING. It’s just starting out but the templates on there
                                are amazing.
                                👀
                            </div>
                            <div class="actions">
                                <a href="#" class="act act-reply">Comentar</a>
                                <a href="#" class="act">Like</a>
                            </div>
                            <div class="input-comment">
                                <input type="text" class="form-control" placeholder="Input comment...">
                                <button class="btn btn-send">
                                    <i class="las la-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    
                    </div>
                   
                </div>
                <div class="item">
                    <div class="userbox">
                        <div class="avatar">
                            <img src="uploads/avatar4.png" alt="">
                        </div>
                        <div class="comment-info">
                            <div class="username">
                                <span class="name">andrew231</span>
                                <span class="datetime">20 hours ago</span>
                            </div>
                            <div class="mess">
                                Thanks for making this, super helpful
                            </div>
                            <div class="actions">
                                <a href="#" class="act act-reply">Reply</a>
                                <a href="#" class="act">Like</a>
                            </div>
                            <div class="input-comment">
                                <input type="text" class="form-control" placeholder="Input comment...">
                                <button class="btn btn-send">
                                    <i class="las la-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="input-comments">
                    <input type="text" class="form-control" placeholder="Comentar...">
                    <button class="btn btn-send1">
                        <i class="las la-paper-plane"></i>
                        
                    </button>
                    <label for="file-upload" class="custom-file-upload">
                        <i class="uil uil-camera"></i> 
                    </label>
                    <input id="file-upload" type="file"/>
                </div>
            </div>
        </div>
          <!--Hasta Aqui-->
        
            
                                
            </div>
        </form>
    </div>
</div>

<script src="./js/index.js"></script>
<script>
    $(".act-reply").click(function(){
        $(this).parents(".userbox").find(".input-comment").toggleClass("show");
        $(this).toggleClass("active");
    });
</script>
</body>

</html>
