
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
   
   <main>
       <div class="container">
             <!--=======DERECHA========-->
           <div th:fragment="menu" class="left"> <!--=======IMPLEMENTANDO MENU========-->
               <a class="profile">
                   <div class="profile-picture">
                        <img src="./imagen/01.PNG" >
                   </div>
                   <div class="handle" >
                       <h4 th:text="${nombre}">Lisonds</h4>
                       <p class="text-muted"  th:text="${correo}">
                           @tulio
                       </p>
                   </div>
               </a>
               <!--=======BARRALATERAL========-->
               <div class="sidebar">
                    <a  th:href="@{/principal}" class="menu-item active" onclick="goBack()">
                        <span><i class="uil uil-home"></i></span><h3>Home</h3>
                    </a>
                    <a  th:href="@{/productos}" class="menu-item">
                        <span><i class="uil uil-compass"></i></span><h3>Productos</h3>
                    </a>
                    <a  class="menu-item" id="notifications" >
                        <span><i class="uil uil-chart-line"></i></span><h3>MATEMATICAS</h3>
                        <!--=======Notificaciones1========-->
                        <div class="notification-popup">
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Aritmetica</b> 
                                </div>
                            </div>
                        
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Algebra</b> 
                                </div>
                            </div>

                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Geometria</b> 
                                </div>
                               
                            </div>
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>TRIGONOMETRIA</b> 
                                </div>
                            </div>
                        </div>

                    </a>
                    <a  class="menu-item" id="notifications2" >
                        <i class="uil uil-dna"></i><h3>CIENCIAS</h3>
                        <!--=======Notificaciones2========-->
                        <div class="notification-popup1">
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Fisica</b> 
                                </div>
                            </div>
                        
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Quimica</b> 
                                </div>
                            </div>

                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Biologia</b> 
                                </div>
                               
                            </div>
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Anatomia</b> 
                                </div>
                            </div>
                        </div>

                    </a>
                    <a  class="menu-item" id="notifications3" >
                        <i class="uil uil-books"></i><h3>LETRAS</h3>
                        <!--=======Notificaciones3========-->
                        <div class="notification-popup2">
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>R.V.</b> 
                                </div>
                            </div>
                        
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Lenguaje</b> 
                                </div>
                            </div>

                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Historia</b> 
                                </div>
                               
                            </div>
                            <div>
                                <div class="profile-photo">
                                    <img src="./imagen/" >
                                </div>
                                <div class="notification-body">
                                    <b>Geografia</b> 
                                </div>
                            </div>
                        </div>

                    </a>
                    
                    <a th:href="@{/administrador}" class="menu-item">
                        <span ><i class="uil uil-bookmark"></i></span><h3 >Administrar</h3>
                    </a>
                    <a  class="menu-item">
                        <span><i class="uil uil-chart-line"></i></span><h3>Analytics</h3>
                    </a>
                             
                
               </div>
               <label id="theme" for="create-post" class="btn btn-primary">publicar</label>

           </div>

                       
        </div>
   </main>

</body>

</html>
