
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
   
           <div class="right" th:fragment="right">
               <div class="docentes">
                   <div class="heading">
                       <h4>Docentes</h4><i class="uil uil-edit"></i>
                   </div>
                   <!--===busqueda===-->
                   <div class="search-bar">
                       <i class="uil uil-search"></i>
                       <input type="search" placeholder="Search docentes" id="docentes-search">
                   </div>
                   <!--CAtegoria-->
                   <div class="category">
                       <h6 class="active">Docentes</h6>
                       <h6>General</h6>
                       
                   </div>
                   <!--Lista de docentes-->
                   <div class="docente">
                       <div class="profile-picture">
                           <img src="/imagen/01.PNG" alt="">
                           <div class="active"></div>
                       </div>
                       <div class="docente-body">
                           <h5>ZAmbrano</h5>
                           <p class="text-muted">Increible vida</p>
                       </div>
                   </div>
                   <div class="docente">
                    <div class="profile-picture">
                        <img src="/imagen/01.PNG" alt="">
                        <div class="active"></div>
                    </div>
                    <div class="docente-body">
                        <h5>Carlos</h5>
                        <p class="text-muted">Increible vida</p>
                    </div>
                </div>
                <div class="docente">
                    <div class="profile-picture">
                        <img src="/imagen/01.PNG" >
                        <div class="active"></div>
                    </div>
                    <div class="docente-body">
                        <h5>Juan</h5>
                        <p class="text-muted">Increible vida</p>
                    </div>
                </div>
               </div>
           </div>
      

</body>

</html>
