<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login PREPREGUNTAS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="container">
        <input type="checkbox"  id="toggle">
        <div class="signin">
            <h2>CUENTA PRE-PREGUNTAS</h2>
            <form>
                <div class="social">
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <p>Or use enter info</p>
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <small>Forgot Password</small>
                <input type="submit" value="Login">
                <small>Don't have an account?<label for="toggle">Sign Up</label></small> 
            </form>
        </div>

        <div class="signup">
            <h2>CREAR UNA CUENTA</h2>
            <form th:action=@{}>
                <div class="social">
                    <a href="https//gmail.com"><i class="fab fa-google-plus-g"></i></a>
                    <a href="https//facebook.com"><i class="fab fa-facebook-f"></i></a>
                    <a href="https//linkedin.com"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <p>Ingrese tus datos</p>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="password2" name="password2" id="password2" placeholder="Confirma password">
                <small>Forgot Password</small>
                <input type="submit" value="Crear cuenta">
                <small>Don't have an account?<label href=#  for="toggle">Sign in</label></small> 
            </form>
        </div>
    </div>
</body>
</html>